html,
body {
  margin: 0;
}

body {
  background-color: #222222;
}

.grid-container {
  justify-items: center;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
}

.header {
  -ms-grid-column: 2;
  grid-column: 2/2;
  margin-top: 15px;
}

.user-wrapper {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  margin-top: 4.5em;
  float: left;
  margin-left: 1em;
  height: 80%;
  width: 150px;
  text-align: center;
}

.loggedUsername {
  font-family: Calibri;
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 15px;
}

.statsWrapper {
  border-radius: 7px;
  height: 100px;
  max-width: 145px;
  margin: 0 auto;
  min-width: 100px;
  background: #444;
  padding: 5px;
  line-height: 2em;
  font-family: Calibri;
  color: #aaa;
  border: 1px dashed #555;
}

.statRow {
  text-align: left;
}

.stat {
  display: inline-block;
}

.number {
  display: inline-block;
  text-align: right;
}

.userGroups {
  border-radius: 7px;
  padding-top: 10px;
  margin-top: 1.5em;
  background-color: #333333;
}

.rate-wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  margin-top: 2em;
  width: 500px;
  text-align: center;
}

#search {
  -ms-grid-column: 3;
  grid-column: 3;
  height: 30px;
  width: 240px;
  margin-top: 8em;
  border-radius: 5px;
  border-color: #8d11f3;
  background-color: #ffffff;
  text-align: center;
  background-image: url(search.png);
  background-repeat: no-repeat;
  background-position: 8px 7px;
  margin-bottom: 1em;
}

.right-wrapper {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  width: 250px;
  height: 465px;
}

.leaderboard {
  background-image: url("leaderboard.png");
  /* fallback for old browsers */
  background-repeat: no-repeat;
  margin-left: 5px;
  padding-right: 10px;
  border-style: solid;
  border-width: 2px;
  width: 90%;
  height: 100%;
}

.rankUsers {
  margin-top: 12px;
}

.rankLevel {
  position: absolute;
  margin-left: 87px;
  margin-top: 22px;
  font-family: Calibri;
  color: white;
  border-radius: 7px;
  background-color: #171717;
  padding: 3px;
  padding-right: 6px;
}

.rank1Level {
  position: absolute;
  margin-left: 87px;
  margin-top: 22px;
  font-family: Calibri;
  color: gold;
  border-radius: 7px;
  background-color: #171717;
  padding: 3px;
  padding-right: 6px;
}

.rank2Level {
  position: absolute;
  margin-left: 87px;
  margin-top: 22px;
  font-family: Calibri;
  color: silver;
  border-radius: 7px;
  background-color: #171717;
  padding: 3px;
  padding-right: 6px;
}

.rank3Level {
  position: absolute;
  margin-left: 87px;
  margin-top: 22px;
  font-family: Calibri;
  color: #cd7f32;
  border-radius: 7px;
  background-color: #171717;
  padding: 3px;
  padding-right: 6px;
}

.rankAvatar {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: #333;
  border-radius: 70px;
  border: 2px solid #8d11f3;
}

.rankScores {
  background-color: #1f1f1f;
  padding: 5px;
  border-radius: 5px;
  color: whitesmoke;
  text-align: left;
  float: right;
  margin-top: 50px;
  margin-right: 10px;
  font-family: Calibri;
  font-size: 25px;
}

.creator-wrapper {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
  width: 400px;
  margin-left: 9.5em;
  text-align: center;
  font-family: Calibri;
  color: whitesmoke;
}

.creator-device {
  float: left;
  margin-right: 1em;
}

.creator-skull {
  float: left;
}

.userAvatar {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 10px;
  background-color: #333;
  padding: 15px;
  border-radius: 70px;
  border: 2px solid #171717;
  -webkit-box-shadow: 0px 2px 2px 0px #040404bf;
  box-shadow: 0px 2px 2px 0px #040404bf;
}

.red-color {
  color: red;
}

.barFrame {
  border: solid;
  border-color: blueviolet;
  border-radius: 7px;
  width: 100%;
  height: 60px;
  border: 5px 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.gauge {
  width: 3%;
  background-color: #9a51df;
  height: 60px;
  color: beige;
  font-size: x-large;
  font-weight: bold;
}

.userLevel {
  background-color: #171717;
  margin-bottom: 10px;
  font-family: Calibri;
  font-size: 3em;
  font-weight: bold;
  color: whitesmoke;
}

.userScore {
  background-color: #171717;
  margin-bottom: 20px;
  font-family: Calibri;
  font-size: 2.5em;
  font-weight: bold;
  color: whitesmoke;
}

.rateButton {
  width: 250px;
  height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: -webkit-gradient(linear, left top, right top, from(blueviolet), color-stop(51%, #c087f5), to(#c987e4));
  background-image: linear-gradient(to right, blueviolet 0%, #c087f5 51%, #c987e4 100%);
  border-color: #1f1f1f;
  border-radius: 10px;
  color: white;
  font-family: Calibri;
  font-size: 1.5em;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */