html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: rgb(34, 34, 34);
}

.grid-container {
    justify-items: center;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
}

.header {
    grid-column: 2/2;
    margin-top: 15px;
}

.user-wrapper {
    grid-column: 1;
    grid-row: 1/4;
    margin-top: 3em;
    float: left;
    margin-left: 7em;
    height: 80%;
    width: 150px;
    text-align: center;
}

.loggedUsername {
    font-family: Calibri;
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 15px;
}

.statsWrapper {
    border-radius: 7px;
    height: 100px;
    max-width: 145px;
    margin: 0 auto;
    min-width: 100px;
    background: #444;
    padding: 5px;
    line-height: 2em;
    font-family: Calibri;
    color: #aaa;
    border: 1px dashed #555;

}

.statRow {
    text-align: left;

}

.stat {
    display: inline-block
}

.number {
    display: inline-block;
    text-align: right;
}

.userGroups {
    border-radius: 7px;
    padding-top: 10px;
    margin-top: 1.5em;
    background-color: #333333;
}


.rate-wrapper {
    grid-column: 2/3;
    grid-row: 2/4;
    margin-top: 2em;
    width: 500px;
    text-align: center;
}

.right-wrapper {
    grid-column: 3;
    grid-row: 2/4;
    width: 250px;
    height: 450px;
    border-width: 5px;
    border-style: solid;
    border-radius: 7px;
    border-color: rgba(138, 7, 245, 0.808);
}

.leaderboard {
    background-color: rgb(32, 32, 32);
    margin-left: 5px;
    padding-right: 14px;
    margin-top: 5px;
    width: 90%;
    height: 98%;
}

.rankAvatar {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: #333;
    border-radius: 70px;
    border: 2px solid #8d11f3;


}

.scoreOne {
    color: whitesmoke;
    text-align: left;
    float: right;
    margin-top: 45px;
    margin-right: 10px;
    font-family: Calibri;
    font-size: 25px;
}

.creator-wrapper {
    grid-column: 2;
    grid-row: 4;
    width: 400px;
    margin-left: 9.5em;
    text-align: center;
    font-family: Calibri;
    color: whitesmoke;


}

.creator-device {
    float: left;
    margin-right: 1em;
}

.creator-skull {
    float: left;
}



.userAvatar {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 10px;
    background-color: #333;
    padding: 15px;
    border-radius: 70px;
    border: 2px solid #171717;
    box-shadow: 0px 2px 2px 0px #040404bf;
}


.barFrame {
    border: solid;
    border-color: blueviolet;
    border-radius: 7px;
    width: 100%;
    height: 60px;
    border: 5px 5px;
    margin-top: 15px;
    margin-bottom: 20px;

}

.gauge {
    width: 3%;
    background-color: rgb(154, 81, 223);
    height: 60px;
    color: beige;
    font-size: x-large;
    font-weight: bold;
}

.userLevel {
    background-color: #171717;
    margin-bottom: 10px;
    font-family: Calibri;
    font-size: 3em;
    font-weight: bold;
    color: whitesmoke;

}

.userScore {
    background-color: #171717;
    margin-bottom: 20px;
    font-family: Calibri;
    font-size: 2.5em;
    font-weight: bold;
    color: whitesmoke;

}

.rateButton {
    width: 250px;
    height: 50px;
    transition: 0.5s;
    background-image: linear-gradient(to right, blueviolet 0%, rgb(192, 135, 245) 51%, #c987e4 100%);
    border-color: #1f1f1f;
    border-radius: 10px;
    color: white;
    font-family: Calibri;

    font-size: 1.5em;
    font-weight: bold;
}